.contenedor_principal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.elemento {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    height: 55px;
    font-size: 1.6em;
    background: rgb(3, 78, 218);
    color: white;
    cursor: pointer;
}

.activado {
    background: rgb(0, 215, 243);
}

.encontrado {
    cursor: not-allowed;
    background: rgb(49, 243, 0);
}